<!--Footer-->
<footer class="text-center text-white" style="background-color: #1D2023;">
    <div class="container-fluid p-4 pb-0">
        <section class="">
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Subscribirse a las mejores ofertas</strong>
                        </p>
                    </div>

                    <div class="col-md-5 col-12">
                        <div class="form-outline form-white mb-2">
                            <input type="email" id="form5Example2" class="form-control" />
                            <label class="form-label" for="form5Example2">Correo Electronico</label>
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-4">
                            Subscribirme
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: #212529;">
        <p class="text-white">Hardware Logic Empresa lider en productos de hardware y desarrollo!</p>
        <a class="text-white" href="#">Políticas de Privacidad</a> <a class="text-white" href="#">Políticas
            de Cookies</a>
    </div>
</footer>
<!--Footer-->