<!--Contenido-->
<div class="container text-dark">
    <div class="row">

        <div class="col-lg-8">

            <h1 class="mt-4">Teclados</h1>
            <hr>

            <img class="img-fluid rounded" src="../assets/images/teclado.jpg" alt="">

            <hr>

            <p>Un teclado es un dispositivo o periférico de entrada, en parte inspirado en el teclado de las
                máquinas de escribir, que utiliza un sistema de botones o teclas, para que actúen como palancas
                mecánicas o interruptores electrónicos que envían toda la información a la computadora o al teléfono
                móvil.
            </p>
        </div>

        <div class="col-md-4">

            <div class="card my-4">
                <h5 class="card-header">Buscar</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Busqueda para...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Ir!</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">Marcas</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Logitech</a>
                                </li>
                                <li>
                                    <a href="#">Dell</a>
                                </li>
                                <li>
                                    <a href="#">Microsoft</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Razer</a>
                                </li>
                                <li>
                                    <a href="#">HP</a>
                                </li>
                                <li>
                                    <a href="#">Genius</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>