
<div class="position-relative overflow-hidden my-3 mx-3 text-center wallpaperslide">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Hardware Logic</h1>
        <p class="lead fw-normal">¡Conectamos el mundo con nuestros productos y servicios!</p>
        <a class="btn btn-outline-light" [routerLink]="['/contactanos']">Contactanos</a>
    </div>
</div>

<div class="container-fluid text-center box1 pt-5 pb-5" data-aos="flip-up" data-aos-duration="3000">
    <h1>¡Los mejores servicios en la palma de tu mano!</h1>
    <p class="mx-5">Somos una empresa muy comprometida con la satisfacción de nuestros clientes, por esto mismo
        nos
        dedicamos a administrar, dar soporte y diseñar software con altos niveles de calidad. Nuestro objetivo
        principal es expandirnos para lograr cautivar a clientes en todo el territorio nacional.</p>
</div>
<div class="container-md">
    <div class="container contenedor text-dark my-5">

        <div class="row featurette" data-aos="flip-left" data-aos-duration="2000">
            <div class="col-md-7">
                <h2 class="featurette-heading">Venta de Hardware</h2>
                <p class="lead">En nuestra empresa contamos con gran variedad de productos a los mejores precios del
                    mercado actualmente y con la mejor calidad, en los productos que tenemos están pantallas,
                    teclados,
                    computadores de todos los tipos, mouses, entre muchos productos más.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/images/img1.jpg" alt="..." width="300" height="300">
            </div>
        </div>

        <div class="row featurette mt-5" data-aos="flip-down" data-aos-duration="2000">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Desarrollo de Software</h2>
                <p class="lead">Diseñamos y desarrollamos todo tipo de software para cualquier plataforma, iniciando
                    desde los problemas que tiene nuestro cliente, pensamos en las mejores soluciones para poder
                    brindar
                    una conformidad con el usuario final.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="assets/images/img2.jpg" alt="..." width="300" height="300">
            </div>
        </div>

        <div class="row featurette mt-5" data-aos="flip-right" data-aos-duration="2000">
            <div class="col-md-7">
                <h2 class="featurette-heading">Realidad virtual</h2>
                <p class="lead">En Hardware Logic te ayudamos a aumentar la experiencia de tu marca a los usuarios,
                    que
                    mejor que dar a conocer tu marca a travez de una experiencia intercativa con el usuario, tenemos
                    un
                    equipo experto en el desarrollo de realidad virtual, preparado para todo tipo de peticiones.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/images/img3.jpg" alt="..." width="340" height="300">
            </div>
        </div>
    </div>
</div>