<div class="container-md">

    <div class="row pt-5 texttitlecolor" data-aos="fade-down" data-aos-duration="1500">
        <h3 class="text-center pb-5 pt-2 h1">Servicios que brindamos</h3>
    </div>

    <div class="row container-fluid mx-2">
        <div class="col-md-4" data-aos="fade-right" data-aos-duration="2000">
            <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="assets/images/webdesign.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DISEÑO WEB</h5>
                    <p class="card-text">Diseñamos tus sitios webs con la ultima tecnologia utilizada en la creación
                        de
                        estos para que se pueda visualizar desde cualquier dispositivo conectado a Internet</p>
                    <a [routerLink]="['/contactanos']" class="btn btn-outline-light btn-sm">Te interesa? Clic aquí</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-aos="fade-down" data-aos-duration="2000">
            <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="assets/images/seo.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">POSICIONAMIENTO SEO</h5>
                    <p class="card-text">Ayudamos a posicionar tu sitio web en los motores de busqueda, con un
                        conjunto
                        de acciones orientadas a mejorar el posicionamiento y la optimización del sitio web.</p>
                    <a [routerLink]="['/contactanos']" class="btn btn-outline-light btn-sm">Te interesa? Clic aquí</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-aos="fade-left" data-aos-duration="2000">
            <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="assets/images/code.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DESARROLLO DE SOFTWARE</h5>
                    <p class="card-text">En nuestra empresa somos expertos en el desarrollo de software,
                        desarrollamos a
                        partir de los problemas que tienen nuestros clientes, permitiendoles usar el software
                        desarrollado en cualquier plataforna.</p>
                    <a [routerLink]="['/contactanos']" class="btn btn-outline-light btn-sm">Te interesa? Clic aquí</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row container-fluid mx-2">
        <div class="col-md-4" data-aos="fade-right" data-aos-duration="2000">
            <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="assets/images/hardware.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">VENTA DE HARDWARE</h5>
                    <p class="card-text">En hardware Logic contamos con mucha variedad de productos de muy buena
                        calidad
                        a un precio accesible para todos nuestros clientes, que esperas para obtener lo que te
                        interesa
                        con nosotros?</p>
                    <a [routerLink]="['/contactanos']" class="btn btn-outline-light btn-sm">Te interesa? Clic aquí</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-duration="2000">
            <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="assets/images/apps.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">APLICACIONES MOVILES</h5>
                    <p class="card-text">Diseñamos y desarrollamos aplicaciones moviles para Android o iOS, las
                        cuales
                        se adaptan para todo lo que necesites, con resultados de calidad y fácil de usar.</p>
                    <a [routerLink]="['/contactanos']" class="btn btn-outline-light btn-sm">Te interesa? Clic aquí</a>
                </div>
            </div>
        </div>
        <div class="col-md-4" data-aos="fade-left" data-aos-duration="2000">
            <div class="card mb-4 text-white bg-dark">
                <img class="card-img-top" src="assets/images/realidadv.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">REALIDAD VIRTUAL</h5>
                    <p class="card-text">En Hardware Logic te ayudamos a aumentar la experiencia de tu marca a los
                        usuarios, que mejor que dar a conocer tu marca a travez de una experiencia intercativa con
                        el
                        usuario?</p>
                    <a [routerLink]="['/contactanos']" class="btn btn-outline-light btn-sm">Te interesa? Clic aquí</a>
                </div>
            </div>
        </div>
    </div>
</div>