 <!--Contenido-->
 <div class="container text-dark">
    <div class="row">

        <div class="col-lg-8">

            <h1 class="mt-4">Computadores</h1>
            <hr>

            <img class="img-fluid rounded" src="../assets/images/computador.jpg" alt="">

            <hr>

            <p>En los modernos computadores, un usuario tiene la impresión de que los computadores pueden ejecutar
                varios programas "al mismo tiempo", esto se conoce como multitarea. En realidad, la CPU ejecuta
                instrucciones de un programa y después tras un breve periodo de tiempo, cambia la ejecución a un
                segundo programa y ejecuta algunas de sus instrucciones. Dado que este proceso es muy rápido, crea
                la ilusión de que se están ejecutando varios programas simultáneamente; en realidad se está
                repartiendo el tiempo de la CPU entre los programas, uno a la vez. El sistema operativo es el que
                controla el reparto del tiempo. El procesamiento realmente simultáneo se realiza en computadoras que
                poseen más de un CPU, lo que da origen al multiprocesamiento.
            </p>

        </div>

        <div class="col-md-4">

            <div class="card my-4">
                <h5 class="card-header">Buscar</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Busqueda para...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Ir!</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">Marcas</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">HP</a>
                                </li>
                                <li>
                                    <a href="#">Lenovo</a>
                                </li>
                                <li>
                                    <a href="#">Acer</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Asus</a>
                                </li>
                                <li>
                                    <a href="#">Dell</a>
                                </li>
                                <li>
                                    <a href="#">Alienware</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>