<!--Contenido-->
<div class="container text-dark">
    <div class="row">

        <div class="col-lg-8">

            <h1 class="mt-4">Mouses</h1>
            <hr>

            <img class="img-fluid rounded" src="../assets/images/mouses.jpg" alt="">

            <hr>

            <p>El ratón se compone habitualmente de al menos dos botones y otros dispositivos opcionales como una
                rueda, más otros botones secundarios o de distintas tecnologías como sensores del movimiento que
                pueden mejorar o hacer más cómodo su uso.
            </p>

            <p>Se suele presentar para manejarse con ambas manos por igual, pero algunos fabricantes también ofrecen
                modelos únicamente para usuarios diestros o zurdos. Los sistemas operativos pueden también facilitar
                su manejo a todo tipo de personas, generalmente invirtiendo la función de los botones.
            </p>

        </div>

        <div class="col-md-4">

            <div class="card my-4">
                <h5 class="card-header">Buscar</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Busqueda para...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Ir!</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">Marcas</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Logitech</a>
                                </li>
                                <li>
                                    <a href="#">Dell</a>
                                </li>
                                <li>
                                    <a href="#">Microsoft</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">Razer</a>
                                </li>
                                <li>
                                    <a href="#">HP</a>
                                </li>
                                <li>
                                    <a href="#">Genius</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>